# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android
*.apk
*.ap_
*.aab
.gradle/
build/
local.properties
*.dex
*.class
bin/
gen/
out/
release/
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
.externalNativeBuild
google-services.json
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.hprof

# General
.DS_Store
*~
*.swp
*.bak
.vscode/
buildServer.json
